@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;800&family=Poppins:ital,wght@0,300;0,700;0,800;1,500&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    display: inline-block;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: 100vh;
}

.banner-image {
    width: 50%;
    float: right;
    height: 100vh;
    overflow: hidden;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar a imagem ao contêiner */
}

.logoimage {
    padding: 1%;
    margin: 3%;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-top: 10%;
    width: 14%;
    min-width: 150px;
}

.titulo {
    font-size: 40px;
    font-weight: 700;
    margin-left: 11%;
}

.textotitulo {
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    margin: 3%;
    margin-left: 10%;
}

.lista {
    font-size: 20px;
    font-weight: 300;
    padding: 1%;
    margin: 3%;
    margin-left: 10%;
    color: grey;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    padding: 0; 
}

.lista li {
    display: flex;
}

.lista img {
    margin-right: 10px; 
}

.button {
    font-size: 20px;
    font-weight: 500;
    padding: 1%;
    margin: 3%;
    margin-left: 10%;
    background-color: black;
    border-radius: 8px;
}


.button:hover{
    background-color: rgb(243, 56, 56); 
    border-radius: 8px;
    cursor: pointer;
}

.button p {
    color: rgb(251, 252, 253);
    padding: 10px;
    font-weight: 700;
}

.parceiros {
    font-size: 15px;
    font-weight: 500;
    padding: 1%;
    margin-left: 9%;
}

.logo-parceiros {
    padding: 1%;
    margin-left: 7%;
}

.img1 {
    border-right: 01px solid grey;
}

.banner-imagemobile {
    display: none;
}

/* Página SignUp*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;800&family=Poppins:ital,wght@0,300;0,700;0,800;1,500&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Página SignUp*/

.coluna1{
    width: 50%;
    height: 100vh;
    display: inline-block;
    font-family: 'Poppins', sans-serif;

}

.coluna2 {
    width: 50%;
    height: 100vh;
    float: right;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(37, 37, 37, 0.082);
}

.depoimento {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30vh;
    margin-left: 7%;
    margin-right: 7%;
}

.depoimento p {
    font-size: 18px;
    color: #0a0a0a;
    margin: 0;
    padding: 20px;
    font-weight: 700;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.perfil h2 {
    font-size: 20px;
    font-weight: 700;
}

.perfil p {
    font-size: 16px;
    margin: 5px 0;
    color: #888;
}


.header {
    padding: 1%;
    margin: 3%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-top: 5%;
    min-width: 150px;
    display: flex;
    justify-content: flex-start;
}

.header > p {
    font-size: 15px;
    color: grey;
    margin-left: 10%;
    position: relative;
}

.header > p > a{
    color: grey;
}

.titulo-signup {
    margin: 3%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 30px;
    font-weight: 700;
}

.form {
    margin: 3%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 12%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #cccccc3f;
}

.form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form input[type="submit"] {
    background-color: #050505;
    color: #fff;
    border: none;
    padding: 18px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #f33838;
}

.signin {
    margin: 3%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 12%;
    font-size: 15px;
    display: flex;
}

.signin > a {
    color: rgb(96, 170, 240);
    font-weight: 700;
    margin-left: 6px;
}

/* Página Home*/

.notificacao {
    display: flex;
    flex-direction: row;
    background-color: #050505;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 7px;
    justify-content: center;
}

.noti1 {
    color: rgb(96, 170, 240);
    font-weight: 700;
}

#header-home {
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    display: flex;
    gap:30%
}

.header-home1 {
    display: flex;
    align-content: flex-start;
    align-items: center;
    margin-left: 15%;
    gap: 12%;
}

.header-home2 {
    display: flex;
    align-content: flex-end;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 12%;
}


.login-home {
    text-decoration: none;
    color: #5e5e5e;
}

.button-home {
    font-weight: 700;
    width: 200px;
    padding: 15px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}

.button-home:hover {
    background-color: #f33838;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.header-main-home1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-main-home1 > h1 {
    font-weight: 700;
    font-size: 40px;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

#search-bar {
    padding-left: 30px; /* Adicionar espaço à esquerda para a imagem */
}

#search-bar {
    width: 200px; 
    padding: 10px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    transition: width 0.6s ease; 
}

#search-bar:focus {
    outline: none;
    border-color: #020202;
    width: 400px;
}

button[type="submit"] {
    background-color: #000000;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    width: 80px; 
    padding: 11px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.6s ease;
}

button[type="submit"]:hover {
    background-color: #f33838;
}

.header-main-home1 > a {
    color: #5e5e5e;
}

.linha1 {
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 35px;
}

.linha2 {
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 35px;
}

.t-i {
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.b-i {
    background-color: #fff;
    font-weight: 700;
    border: #8888889c solid 1px;
    padding: 10px 60px;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.b-i:hover {
    background-color: #f33838;
    transition: background-color 0.6s ease;
    border: #0000002f solid 1px;
}

.item-h {
    text-align: center;
    margin-top: 10px;
    border: #8888889c solid 1px;
    padding: 10px;
    flex-direction: column;
    width: 70%;
    border-radius: 5px;
}

.img-h {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}

.item-h > p{
    margin-bottom: 15px;
    text-align: left;
}

.f-home {
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Camp Page */


.b-c {
    text-decoration: none;
    color: #5e5e5e;
}

.item-c {
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
    width: 70%;
    border-radius: 5px;
    text-align: left; /* Alinha o texto à esquerda */
    border: #8888889c solid 1px;
    padding: 30px;
    border-radius: 5px;
}


#container {
    display: flex;
}

.img-camp {
    margin-top: 20px;
    border: #0000004b solid 1px;
    border-radius: 3px;
    width: 32vh;
    padding: 30px;
}

.camp1 {
    margin-top: 30px;
    width: calc(70vh - 40px); /* Ajuste para levar em conta a margem do topo */
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    display: inline-block;
}


.b-i {
    width: fit-content; /* Ajusta o tamanho do botão ao conteúdo */
    margin-left: auto; /* Alinha o botão à direita */
}

@media screen and (max-width: 768px) {
    /* Estilos para tablets e dispositivos móveis */
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .banner-imagemobile {
        display: flex;
        width: 100vh; height: 50vh;
        object-fit: cover;
        margin-bottom: 10%;
    }
    
    .banner-image {
        display: none;
    }
    
    .logoimage {
        width: 20%;
        align-items: center;
        display: flex;
    }
    
    .titulo {
        font-size: 36px;
    }
    
    .textotitulo {
        font-size: 26px;
    }
    
    .lista {
        font-size: 16px;
    }
    
    .button {
        font-size: 16px;
    }
    
    .parceiros {
        font-size: 15px;
    }
}